.landing {
  min-height: 100vh;
  height: 100%;
  width: 100vw;
  background-color: #24143c;
}

div {
  font-family: Roboto, sans-serif;
}

.landing .content {
  font-size: 40px;
  position: absolute;
  top: 35%;
  left: 20%;
  right: 20%;
  color: white;
}

.content p {
  animation: fadeInDown;
  animation-duration: 2s;
}

.navbar {
  position: fixed;
  display: flex;
  right: 5%;
  top: 1%;
  color: antiquewhite;
  animation: bounceInDown;
  animation-duration: 2s;
  z-index: 3;
}

.navbar img {
  height: 30px;
  width: 30px;
}

.navbar a {
  color: antiquewhite;
  margin: 20px;
  padding-bottom: 10px;
  text-decoration: none;
}
.navbar a:hover {
  opacity: 0.5;
  border-bottom-style: solid;
}

.home {
  position: fixed;
  top: 2%;
  left: 2%;
  animation: bounceInDown;
  animation-duration: 2s;
}

.home img {
  height: 30px;
  width: 30px;
}

.career, .projects {
  position: absolute;
  top: 7vh;
  left: 15%;
  right: 15%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.about {
  position: absolute;
  top: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.first {
  display: flex;
}

.second {
  display: flex;
}

.infoBox {
    margin: 40px
}

.front {
  width: 500px;
  height: 300px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  animation: flipInX;
  animation-duration: 1s;
}

.polar.front {
  background-color: #53bbe4;
}

.economical.front {
  background-color: #042b44
}

.front:hover {
  box-shadow: 0 0 50px rgb(255, 255, 255);
  margin-top: -10px; 
}

.back {
  width: 500px;
  height: 300px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.back:hover {
  box-shadow: 0 0 50px rgb(255, 255, 255); 
}

.polar.back {
  background-color: #53bbe4;
  color: white;
}

.economical.back {
  background-color: #042b44;
  color: white;
}

.back a, .about a {
  color: goldenrod;
  text-decoration: none;
}

.back a:hover, .about a:hover {
  text-decoration: underline;
}

.back h3 {
  margin-top: 0;
  padding-top: 30px;
  padding-left: 20px;
  margin-bottom: 0;
}

.back p {
  margin-top: 0;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 10px;
  margin-bottom: 0;
}

.back p:first-child {
  padding-top: 30px;
}

.date {
  font-size: small;
}

.back ul {
  list-style-type: disclosure-closed;
}

.back li {
  padding-bottom: 20px;
}

.projects img {
  height: 320px;
  width: 500px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  animation: flipInX;
  animation-duration: 1s;
}

.projects .back {
  height: 320px;
}

.projects img:hover {
  box-shadow: 0 0 50px rgb(255, 255, 255);
  margin-top: -10px; 
}

.valineups.back {
  background-color: #0c1b23;
  color: white;
}

.spaceinvaders.back {
  background-color: black;
  color: white;
}

.git {
  display: flex;
  margin-top: 0;
  padding-top: 10px;
  padding-left: 20px;
  margin-bottom: 0;
}

.git img {
  height: 20px;
  width: 20px;
}

.about img {
  width: 542px;
  height: 589px;
  margin-right: 40px;
  animation: bounceInLeft;
  animation-duration: 1s;
}

.aboutText {
  height: 589px;
  width: 30%;
  animation: bounceInRight;
  animation-duration: 1s;
}

.about p {
  font-size: large;
}

.icons {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 80%;
  left: 97%;
  animation: bounceInRight;
  animation-duration: 2s;
}

.icons img {
  height: 40px;
  width: 40px;
  padding-bottom: 10px;
}

@media only screen and (max-height: 1200px) {
  .careerLanding {
    height: 1230px;
  }
  .projectLanding {
    height: 100vh;
  }
}

@media only screen and (max-height: 780px) {
  .icons {
    top: 70%;
    left: 96%;
  }
}

@media only screen and (max-height: 655px) {
  .aboutLanding {
    height: 655px;
  }
}

@media only screen and (max-height: 1200px) {
  .projectLanding {
    height: 850px;
  }
}

@media only screen and (max-width: 500px) {
  .navbar a {
    margin: 10px;
    padding-top: 5px;
  }
  .landing .content {
    top: 10%;
    left: 10%;
    right: 10%;
  }
  .icons {
    top: 91%;
    left: 60%;
    flex-direction: row;
  }
  .icons img {
    margin: 5px;
  }
  .first {
    display: inline;
  }
  
  .second {
    display: inline;
  }

  .front {
    width: 350px;
    height: 400px;
  }
  .back {
    width: 350px;
    height: 400px;
  }
  .careerLanding {
    height: 2800px;
  }

  .infoBox {
    margin: 0px;
    margin-top: 40px;
  }
  .infoBox img {
    width: 300px;
  }

  .projectLanding {
    height: 1300px;
  }

  .projects img {
    height: 330px;
    width: 350px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    animation: flipInX;
    animation-duration: 1s;
  }

  .projects .back {
    height: 330px;
    width: 350px;
  }

  .aboutLanding {
    height: 1010px;
  }

  .about {
    flex-direction: column;
  }

  .about img {
    width: 300px;
    height: 330px;
    border-radius: 10px;
    margin: 0;
  }

  .aboutText {
    width: 70%;
  }
}